*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --nav-bar-background: #4e616c;
  --site-name-color: rgba(251, 251, 251, 0.77);
  --active-tab-color: #ffffff;
  --card-content-color: rgba(0, 0, 0, 1);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Navigation bar styles */
nav {
  position: sticky;
}
.nav-bar {
  background: var(--nav-bar-background);
  width: 100%;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.5rem;
  padding-inline: 1rem 1.5rem;
}

#site-name {
  font-family: "Rakkas", serif;
  font-size: 2rem;
  color: var(--site-name-color);
}

.link {
  display: flex;
  column-gap: 1rem;
}

.nav-link {
  text-decoration: none;
  color: var(--active-tab-color);
  font-size: 0.95rem;
  font-family: "Kanit", sans-serif;
}

#active-link {
  border-bottom: 2px solid var(--active-tab-color);
}

/* Banner section styles */
.banner-container {
  background: url("./images/banner-backgroundjpg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  min-height: 12.5rem;
  max-height: 18.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.banner-content {
  margin-inline-start: 1rem;
}

#banner-headline {
  font-size: 2.3rem;
  font-family: "Kanit", sans-serif;
  color: var(--site-name-color);
  font-style: normal;
  width: 70%;
  line-break: 500px;
  line-height: 1;
}

#banner-sub-heading {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: var(--active-tab-color);
  line-height: 3;
}

/* Movies card design */
#movies {
  margin-top: 2rem;
}

#section-heading {
  font-family: "Kanit", sans-serif;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
}

/* loader element */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 1.5s infinite, spin 2s infinite linear;
}

.loading svg {
  font-size: 3rem;
}

.movies-container {
  width: fit-content;
  margin-inline-start: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 0.5rem;
  margin-bottom: 5rem;
  margin: auto;
}

.movie-card {
  width: 162px;
  height: 240px;
  border-radius: 0.7rem;
  background: rgba(248, 248, 248, 1);
}

.movie-image-container {
  width: 100%;
  height: 148px;
  border-radius: 0.7rem 0.7rem 0px 0px;
}

.movie-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.movie-title {
  margin-top: 0.5rem;
}

#movie-title {
  width: 91%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: center;
  color: var(--card-content-color);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.movie-info {
  padding: 0.2rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#info {
  font-size: 0.6rem;
  font-family: "Poppins", sans-serif;
  color: var(--card-content-color);
  font-weight: 600;
  text-align: center;
}

.movie-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: fit-content;
  margin-top: -146px;
  margin-left: 130px;
  cursor: pointer;
}

.favorite-icon {
  width: 20px;
  fill: white;
}

.movie-actions.favorite svg {
  fill: yellow;
}

.page-container {
  display: block;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container button {
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
}

.next svg {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Large screen view */
@media (min-width: 590px) {
  #site-name {
    font-size: 3rem;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .banner-container {
    height: 50vh;
    min-height: 400px;
    max-height: 500px;
  }

  .banner-content {
    margin-inline-start: 4rem;
  }

  #banner-headline {
    font-size: 4rem;
  }

  #banner-sub-heading {
    font-size: 2rem;
  }

  #movies {
    margin-top: 4rem;
  }

  #section-heading {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .movies-container {
    gap: 2rem;
  }

  .movie-card {
    width: 172px;
    height: 250px;
    border-radius: 0.7rem;
    background: rgba(248, 248, 248, 1);
  }

  .movie-title {
    margin-top: 0.8rem;
  }

  #movie-title {
    font-size: 1rem;
    line-height: 24px;
  }

  .movie-info {
    margin-top: 0.5rem;
    padding-inline: 1rem;
  }

  #info {
    font-size: 0.6rem;
  }
}
